<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Express-Ts Template</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
    <div class="content">
        <div class="inner">
            <h1>Express with Typescript</h1>
            <p>Modules already prepared:</p>
            <ul>
                <li>Express</li>
                <li>Node</li>
                <li>CORS</li>
                <li>DOTenv</li>
                <li>Typescript / ts.config</li>
                <li>@types/...</li>
                <li>ts-node, ts-node-dev & nodemon</li>
            </ul>
            <br>
            <h2>Commands</h2>
            <div class="commands">
                <code>yarn dev</code>
                <code>yarn start</code>
                <code>yarn serve</code>
            </div>
    </div>
</body>

</html>